.elemento{
	margin: 10% 0%;
	padding: 10% 10%; 
}
.informes{	
	padding: 5% 10%; 
}
.ele_equipo{
	height: 20%;
}
.equipo1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center; 
	padding: 7%;
}
#button_defautl{
	border: solid 1px black;
}